<!--<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <title>Open File Manager </title>
</head>
        <body>
    <button onclick="openfolderManager()">Open File Manager</button>
    
    <script>
        const openFileManagerBtn = document.getElementById('openFileManager');

                    openFileManagerBtn.addEventListener('click', () => {
                       const folderPath = 'E:\maruti\node_modules';
                              const fileManagerURL = 'file:///C:/Windows/explorer.exe /root,${folderPath}';
                        window.open(fileManagerURL);
                     });

    </script>
            
        </body>
    </head>
    
</html>-->